{% extends 'layouts/page_base.html' %}

{% block page_title %}
Clientes
{% endblock %}

{% block page_body %}
    <div class="tuki-card">
        <div class="tuki-card-header">
            <div>
                <h2 class="tuki-card-title">Clientes</h2>
                <p class="tuki-card-subtitle">
                    {{ customers|length }} clientes registrados
                </p>
            </div>
            <a href="{% url 'customer:add' %}" class="btn btn-tuki-primary">
            + Nuevo cliente
            </a>
        </div>
        <form action="." method="GET" class="row g-2 mb-3">
            <div class="col-12 col-md-9">
                <input type="text" id="search_customer" name="search_customer" placeholder="Buscar Cliente" class="form-control" value="{{ search_data }}">
            </div>
            <div class="col-12 col-md-3 d-grid">
                <button type="submit" class="btn btn-tuki-secondary">Buscar</button>
            </div>
        </form>
        <table class="tuki-table">
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>TELEFONO</th>
                    <th>EMAIL</th>
                    <th class="text-center">ACCIONES</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for customer in customers %}
                <tr>
                    <td>{{ customer.customer_name }}</td>
                    <td>{{ customer.customer_phone }}</td>
                    <td>{{ customer.customer_email }}</td>
                    <td class="text-center">
                        <a href="{% url 'customer:detail' customer.customer_id %}" class="d-inline text-decoration-none">
                            <i class="bi-info-square"></i>
                        </a>
                        <a href="" class="d-inline text-decoration-none text-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Controles de paginación -->
<!--        <nav aria-label="Page navigation">-->
<!--            <ul class="pagination justify-content-center gap-1">-->
<!--                {% if page_obj.has_previous %}-->
<!--                    <li>-->
<!--                        <a class="btn btn-outline-dark" href="?page=1" aria-label="Previous">-->
<!--                            <span aria-hidden="true">&laquo;</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                {% endif %}-->
<!--                {% for num in page_obj.paginator.page_range %}-->
<!--                    <li>-->
<!--                        <a class="btn btn-outline-dark {% if num == page_obj.number %}active{% endif %}" href="?page={{ num }}">{{ num }}</a>-->
<!--                    </li>-->
<!--                {% endfor %}-->
<!--                {% if page_obj.has_next %}-->
<!--                    <li>-->
<!--                        <a class="btn btn-outline-dark" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">-->
<!--                            <span aria-hidden="true">&raquo;</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                {% endif %}-->
<!--            </ul>-->
<!--        </nav>-->
    </div>
{% endblock %}