{% extends "layouts/page_base.html" %}

{% block page_title %}
Informacion cliente
{% endblock %}

{% block page_actions %}
<a href="{% url 'customer:list' %}" class="btn btn-tuki-primary">Lista Clientes</a>
{% endblock %}

{% block page_body %}
<div class="tuki-card">
  <div class="tuki-card-header">
    <h1 class="tuki-card-title fw-bold">{{ customer.customer_name }}</h1>
  </div>
  <div>
    <p class="fw-bold">Teléfono: {{ customer.customer_phone }}</p>
    <p>Email: {{ customer.customer_email }}</p>
    <p>Dirección: {{ customer.customer_address }}</p>
  </div>
  
  <a href="" class="btn btn-tuki-secondary">Editar</a>
  <a href="{% url 'customer:delete' customer.customer_id %}" class="btn btn-danger">Eliminar</a>

    <hr>

    <div class="tuki-inline">
      <p class="tuki-card-title fw-bold tuki-inline-grow text-uppercase">Vehículos</p>
  
      <a href="{% url 'vehiculos:add' %}?customer={{ customer.customer_id }}" class="btn btn-tuki-primary">Agregar</a>
    </div>

    {% if vehicle_workorders %}
      {% for vehicle, workorders in vehicle_workorders %}
        <hr>
        <div class="tuki-inline">
            <h2 class="tuki-card-title fs-4 tuki-inline-grow">{{ vehicle.vehicle_plate }}</h2>
            <a href="{% url 'vehiculos:vehicle' vehicle.vehicle_id %}" class="text-decoration-none text-uppercase">Ver Vehiculo</a>
        </div>
        <p class="tuki-card-subtitle fw-bold">{{ vehicle.vehicle_model }}</p>
        <div class="tuki-inline">
          <p class="tuki-inline-grow tuki-card-title fs-4">Últimos trabajos</p>
          <a href="{% url 'workorder:add_for_vehicle' vehicle.vehicle_id %}" class="text-decoration-none text-uppercase">Agregar Trabajo</a>
        </div>
        
        {% if workorders %}
          {% for w in workorders %}
            <div class="tuki-table-wrapper">
              <table class="tuki-table">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Detalle</th>
                    <th class="text-center tuki-col-tight">Monto</th>
                    <th class="text-center tuki-col-tight">ACCIONES</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ w.date }}</td>
                    <td>{{ w.status }}</td>
                    <td>Silenciador Trasero + Soldadura</td>
                    <td class="tuki-col-tight">{{ w.total_amount }}</td>
                    <td class="tuki-col-tight">
                      <a href="{% url 'workorder:workorder' w.workorder_id %}" class="btn btn-tuki-secondary">Ver</a>
                      <a href="" class="btn btn-tuki-secondary">Editar</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            
          {% endfor %}
        {% else %}
          <p>Sin trabajos registrados.</p>
        {% endif %}
      {% endfor %}
    {% else %}
      <p>Este cliente no tiene vehículos asociados.</p>
    {% endif %}
</div>

<div>
    <a href="{% url 'customer:list' %}" class="btn btn-outline-dark">
        <i class="bi-arrow-left-circle"></i> Volver
    </a>
</div>

{% endblock %}

