{% extends 'layouts/form_page.html' %}

{% block page_title %}
Crear Trabajo
{% endblock %}

{% block page_actions %}
    <a href="" class="btn btn-tuki-secondary">
    Volver
    </a>
{% endblock %}

{% block cancel_url %}
{% url 'vehiculos:all' %}
{% endblock %}

{% block form_fields %}

    <h4 class="tuki-form-title">Vehiculo asignado: {{vehicle.vehicle_model}}</h4>
    <h4 class="tuki-form-title">Patente: {{vehicle.vehicle_plate}}</h4>
    <h5>Cliente: {{vehicle.vehicle_customer}}</h5>
    
    <div class="tuki-form-group">
        <h2 class="tuki-card-title text-uppercase mb-3">Nuevo trabajo</h2>
        <hr>
        <div>
            <label class="tuki-card-section-title">Kilometraje</label>
            <input type="number" name="mileage" id="mileage">
        </div>
        <div>
            <label for="" class="tuki-card-section-title form-label">Notas de trabajo</label>
            <textarea name="notes" id="notes" rows="4" class="form-control"></textarea>
        </div>
    </div>


{% endblock %}