{% extends 'core/base.html' %}

{% block content %}

    <div class="my-5 container">
        <p class="fw-bold text-dark fs-2">Editar Vehiculo</p>
        <hr class="border border-dark">
        {% if errors %}
        <ul class="alert alert-danger">
            {% for e in errors %}
            <li>{{ e }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form id="edit_vehicle" name="edit_vehicle" class="row g-3" method="post">
            {% csrf_token %}
            <div>
                <legend>Seleccionar modelo existente</legend>
                <select name="vehicle_model_id" class="form-select">
                    {% for m in vehicle_models %}
                    <option value="{{ m.vehiclemodel_id }}"
                            {% if vehicle.vehicle_model and vehicle.vehicle_model.vehiclemodel_id == m.vehiclemodel_id %}
                                selected
                            {% endif %}
                            >
                        {{ m.vehiclemodel_brand }} {{ m.vehiclemodel_name }} {{ m.vehiclemodel_version }}
                        ({{ m.vehiclemodel_production }})
                    </option>
                    {% endfor %}
                </select>
            </div>
            <hr>
            <div>
                <legend>Datos del vehiculo</legend>
                <div class="col-12">
                    <label for="vehicle_plate" class="form-label">Patente</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="vehicle_plate" 
                        name="vehicle_plate" 
                        placeholder="{{ vehicle.vehicle_plate }}" 
                        value="{{ form.data.vehicle_plate|default:vehicle.vehicle_plate }}"
                    >
                </div>
                <div class="col-6">
                    <label for="vehicle_color" class="form-label">Color</label>
                    <input 
                        type="text"
                        class="form-control" 
                        id="vehicle_color" 
                        name="vehicle_color" 
                        placeholder="{{ vehicle.vehicle_color }}" 
                        value="{{ form_data.vehicle_color|default:vehicle.vehicle_color }}"
                    >
                </div>
                <div class="col-6">
                    <label for="vehicle_details" class="form-label">Detalles</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="vehicle_details" 
                        name="vehicle_details" 
                        placeholder="{{ vehicle.vehicle_details }}" 
                        value="{{ form_data.vehicle_details|default:vehicle.vehicle_details }}">
                </div>
            </div>
            <div>
                <a href="{% url 'core:index' %}" class="btn btn-dark" title="Volver">Volver</a>
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="reset" class="btn btn-dark">Reset</button>
            </div>
        </form>
    </div>

{% endblock %}