{% extends 'core/base.html' %}

{% block content %}
  <div class="my-5 container">
    <p class="fw-bold text-dark fs-2">Datos Vehiculo</p>
    <hr class="border border-dark">
    <legend>{{ vehicle.vehicle_brand }}</h1>
    <p>{{ vehicle.vehicle_model }} ||  {{ vehicle.vehicle_production }}</p>
    <div class="d-flex justify-content-between">
      <a class="btn btn-outline-dark">Agregar Producto Asociado</a>
      <a href="{% url 'vehiculos:edit' vehicle.vehicle_id %}" class="btn btn-outline-dark">Editar Vehiculo</a>
    </div>
      <hr />
      <div class="mt-3">
          <a href="{% url 'vehiculos:all' %}" role="button" class="btn btn-outline-dark"><-</a>
      </div>
    </div>
  </div>

{% endblock %}
